<a href="https://colab.research.google.com/github/sinhnt84/DataAnalyst/blob/main/NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
array_2d = np.array([[1, 2, 3, 4],
                     [5, 6, 7, 8],
                     [9, 10, 11, 12]])
rowA,colA = array_2d.shape

In [ ]:
## Tính tổng ma trận
sum = 0
for i in range(rowA):
  for j in range(colA):
    sum += array_2d[i][j]
sum

78

In [ ]:
## Tính tổng ma trận
np.sum(array_2d)

78

In [ ]:
## Tính tổng các hàng
sumR = 0
for i in range(rowA):
  for j in range(colA):
    sumR += array_2d[i][j]
  print("Tổng dòng thứ {}: {}".format(i+1,sumR))
  sumR=0

Tổng dòng thứ 1: 10
Tổng dòng thứ 2: 26
Tổng dòng thứ 3: 42

In [ ]:
##Tính tổng theo hàng trong ma trận(axis = 1)
np.sum(array_2d,axis=1)

array([10, 26, 42])

In [ ]:
## Tính tổng các cột
sumC = 0
for i in range(colA):
  for j in range(rowA):
    sumC += array_2d[j][i]
  print("Tổng cột thứ {} : {}".format(i+1,sumC))
  sumC=0

Tổng cột thứ 1 : 15
Tổng cột thứ 2 : 18
Tổng cột thứ 3 : 21
Tổng cột thứ 4 : 24

In [ ]:
## Tính tổng các cột trong ma trận (axis = 0)
np.sum(array_2d,axis=0)

array([15, 18, 21, 24])

In [ ]:
## Hiển thị các thành phố có dân cư lớn hơn hoặc bằng 10000
A =  np.array([['Hanoi', 10000],['Danang', 3000], ['HoChiMinh', 12000], ['HaiPhong', 6000]])
mask = A[:,1].astype(int) >= 10000
A[mask]

array([['Hanoi', '10000'],
       ['HoChiMinh', '12000']], dtype='<U21')

In [ ]:
A =  np.array([['Hanoi', 10000],['Danang', 3000], ['HoChiMinh', 12000], ['HaiPhong', 6000]])
print(A)

[['Hanoi' '10000']
 ['Danang' '3000']
 ['HoChiMinh' '12000']
 ['HaiPhong' '6000']]

In [ ]:
dataset = np.array([
['Quần thun', 10, 50000],
['Áo gió', 5, 90000],
['Tất', 50, 8000],
['Giày', 1, 200000],
['Mũ', 1, 30000],
['Quần jean', 3, 100000],
['Áo len', 10, 100000],
])

In [ ]:
##Tính số lượng sản phẩm trong dataset
Total = np.sum(dataset[:,1].astype(int))
Total

80

In [ ]:
##Lấy ra các sản phẩm có đơn giá lớn hơn 50000
mask = dataset[:,2].astype(int) > 50000
dataset[mask]

array([['Áo gió', '5', '90000'],
       ['Giày', '1', '200000'],
       ['Quần jean', '3', '100000'],
       ['Áo len', '10', '100000']], dtype='<U21')

In [ ]:
##Lấy ra các sản phẩm đã có doanh thu hơn 300000.
products = dataset[:,1].astype(int)*dataset[:,2].astype(int) > 300000
dataset[products]

array([['Quần thun', '10', '50000'],
       ['Áo gió', '5', '90000'],
       ['Tất', '50', '8000'],
       ['Áo len', '10', '100000']], dtype='<U21')

In [ ]:
## Bài tập về nhà